#body{
    padding: 0;
    margin: 0;
}
nav{
       
}

h3{
    color: black;
}

section{
      
}

#menu{
    background-color: blue 
}
.nav_wrap{
    display: table;
    margin: 0 auto 0 auto;
    padding: 20px 0 10px 0;
    background-color: blue
}
.item{
    display: inline-block
}

.item_text:hover{
    background-color: white;
    cursor: pointer;
}
.item_text{
    padding: 20px;
    text-transform: lowercase;
}

#intro{
    width: 100;
    min-height: 700px;
    background-color:darkgray;
    position: relative;
}
.main{
    background-color:#ffffff;
    width: 100%;
    min-height: 700px;
       
}

.intro_block{
    width: calc(50% - 2px);
    height: 300px;
    background-color: black;
    float: left;
    border: 1px solid black;
    position: relative;
}

.blue-overlay{
    background-color: blue;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 3;
    opacity: .5;
}
.blue-gradient{
    background: blue;
    background: -webkit-linear-gradient(left top, red, yellow);
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 3;
    opacity: .5;
}
.intro_block_alt{
    background-color: aqua;
}
.clear{
    clear: both;
}
#topright{
    background-image: url('/images/boat.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

#topleft{
    background-image: url('/images/glasses.JPG');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

#botleft{
    background-image: url('/images/heart.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

#botright{
    background-image: url('/images/shoes.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

#icon{
    width: 100px;
    border-radius: 300%;
    height: 100px;
    margin: auto;
    background-color: white; 
    position: absolute;
    top: 33%;
    overflow: hidden; 
    top: 33%;
    left: 46%
}
.text_layer{
    position: relative;
    z-index: 4;
    width: 100;
}

.text_layer h3{
    color: white;
    text-align: center;
    width: 100;
    margin-top: 100;
}