#body{
    padding: 0;
    margin: 0;
}
nav{
       
}

section{
      
}

#menu{
    background-color: blue 
}
.nav_wrap{
    display: table;
    margin: 0 auto 0 auto;
    padding: 20px 0 10px 0;
    background-color: blue
}
.item{
    display: inline-block
}

.item_text:hover{
    background-color: white;
    cursor: pointer;
}
.item_text{
    padding: 20px;
    text-transform: lowercase;
}

#intro{
    width: 100;
    min-height: 700px;
    background-color:darkgray;
    position: relative;
}
.main{
    background-color:#ffffff;
    width: 100%;
    min-height: 700px;
       
}

.intro_block{
    width: calc(50% - 2px);
    height: 300px;
    background-color: black;
    float: left;
    border: 1px solid black;
}

.blue-overlay{
    background-color: rgba(0,0,255,0);
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 3;
}
#topright{
    background-color: blue;
}

#topleft{
    background-color: yellow;
}

#botleft{
    background-color: blue;
}

#botright{
    background-color: yellow;
}

.clear{
    clear: both;
}

#icon{
    width: 100px;
    border-radius: 300%;
    height: 100px;
    margin: auto;
    background-color: white; 
    position: absolute;
    top: 33%;
    overflow: hidden; 
    top: 33%;
    left: 46%
}